


.App {
    font-family: sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: start;
    color: black;
    background: linear-gradient(#E0E0E0, #FFFFFF, #E0E0E0);
    border: 3px solid grey;
    width: 500px;
    height: 700px;
    padding-left: 20px;
  }

  input {
      height: 25px;
      width: 335px;
      cursor: pointer;
      margin-top: 30px;
  }

  
  button {
      height: 30px;
      cursor: pointer;
      background: white;
  }

  h2 {
      font-family: sans-serif;
      font-style: italic;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 6px;
      font-size: 45px;
  }

  h3 {
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: -30px;
    margin-bottom: 50px;
  }